<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>WALL·E Robot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1"> <!-- Google Chrome Frame -->

    <link rel="stylesheet" type="text/css" href="topcoat/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="topcoat/css/styleguide.css">
    <link rel="stylesheet" type="text/css" href="topcoat/css/topcoat-desktop.css">

    <script type="text/javascript" src="javascripts/jquery/jquery-2.0.2.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery/jquery.extends.js"></script>
    <script type="text/javascript" src="javascripts/highcharts/highcharts.js"></script>

    <script type="text/javascript" src="javascripts/application.js"></script>

  </head>
  <body>

    <div id="container">
      <header>
        <hgroup>
          <h1>WALL·E</h1>
          <h2>Robot Control Panel. &copy; Miclle</h2>
        </hgroup>

        <nav>
          <h3>System</h3>
          <ul>
            <li><a href="#activity-monitor">Activity Monitor</a></li>
          </ul>
        </nav>
      </header><!-- end of header -->

      <div id="main" role="main">

        <section id="system">

          <h4 id="activity-monitor"><span>Activity Monitor</span></h4>

          <table class="fonts tabular">
            <tbody>
              <tr>
                <td class="bg-white">
                  <div id="memory-pie" style="min-width: 300px; height: 300px; margin: 0 auto"></div>
                </td>
                <td class="bg-lightgray">
                  <h3 id="cpu-temperature"></h3>
                </td>
                <td class="bg-slategray">

                </td>
              </tr>
            </tbody>
          </table>

        </section>

      </div><!-- end of #main -->

    </div><!-- end of #container -->


  </body>
</html>
