<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>WALL·E Robot</title>
  <script type="text/javascript" src="javascripts/jquery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery/jquery.extends.js"></script>
    <script type="text/javascript" src="javascripts/highcharts/highcharts.js"></script>

    <script type="text/javascript">
      $(function (){

        // Radialize the colors
        Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
          return { radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 }, stops: [ [0, color], [1, Highcharts.Color(color).brighten(-0.3).get('rgb')]] };
        });

        // Build the chart
        var chart = new Highcharts.Chart({
          credits:  { enabled: false  },
          chart:    { renderTo: 'container' },
          title:    { text: 'System Memory' },
          tooltip:  { pointFormat: '<b>{point.y}MB</b>' },
          plotOptions: {
            pie: {
              allowPointSelect: true,
              dataLabels: {
                color: '#000000',
                formatter: function() {
                  return '<b>'+ this.key +'</b>: '+ this.y +' MB';
                }
              }
            }
          },
          series: [{ type: 'pie' }]
        });

        $.getJSON('/system', function(info){
          var memory = info['memory'];
          chart.series[0].setData([
            ['buffers', $.rounding(memory['buffers']/1024, 2)],
            ['cached',  $.rounding(memory['cached']/1024, 2)],
            ['free',    $.rounding(memory['free']/1024, 2)],
            ['used',    $.rounding((memory['total'] - memory['free'] - memory['buffers'] - memory['cached'])/1024, 2)]
          ]);
        });

      });
    </script>
  </head>
  <body>

    <div id="container" style="min-width: 300px; height: 300px; margin: 0 auto"></div>

  </body>
</html>
